[submodule "sources/3rdParty/catch"]
	path = sources/3rdParty/catch
	url = https://github.com/philsquared/Catch
[submodule "sources/3rdParty/pugixml"]
	path = sources/3rdParty/pugixml
	url = https://github.com/zeux/pugixml
