# Autodetect and normalize text files
* text=auto eol=lf

# Source files
*.h eol=lf
*.cpp eol=lf

# MSVC use CRLF
*.sln eol=crlf
*.csproj eol=crlf
*.wixproj eol=crlf

*.vcxproj eol=crlf
*.vcxitems eol=crlf
*.props eol=crlf
*.filters eol=crlf
*.wxs eol=crlf

# For installer
windows/Installer/guid_list.txt eol=crlf

# Binary files
*.rtf -text
*.odt -text
*.pdf -text

# Other
LICENSE eol=lf
.gitignore eol=lf
.gitattributes eol=lf
