<?xml version='1.0' encoding='Windows-1252'?>
<?include version.wxi ?>
<?define UpgradeCode="3A563016-E31D-4D93-A36B-105420BA6E57"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='vcdMaker $(var.ProductVersionInfo)' Id='D6123246-8A68-41DB-84BE-F4F690AEC966' UpgradeCode='$(var.UpgradeCode)'
    Language='1033' Codepage='1252' Version='$(var.ProductVersion)' Manufacturer='vcdMaker team'>

    <Package Id='*' Keywords='vcdMaker Installer'
      Description="vcdMaker $(var.ProductVersionInfo) Installer"
      Comments='vcdMaker Package' Manufacturer='vcdMaker team'
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' 
      InstallScope='perUser'/>
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
	
    <Upgrade Id='$(var.UpgradeCode)'>
    <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND'
        Minimum='1.0.0' IncludeMinimum='yes'
        Maximum='3.0.2' IncludeMaximum='no' />
    </Upgrade>

    <Media Id='1' Cabinet='Install.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="vcdMaker $(var.ProductVersionInfo) Installation [1]" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='vcdMaker'>

          <Component Id='vcdMakerExecutable' Guid='80B54EC5-B55B-4046-BD32-7B7E2466A3D0'>
            <Environment Id='UpdatePath' Name='PATH' Action='set' Permanent='no' System='no' Part='last' Value='[INSTALLDIR]' />
            <File Id='vcdMakerEXE' Name='$(var.vcdMaker.TargetFileName)' DiskId='1' Source='$(var.vcdMaker.TargetPath)' KeyPath='yes'>
            </File>
          </Component>

          <Component Id='vcdMergeExecutable' Guid='722D9BF2-8D84-4FD7-807A-A77C852B712B'>
            <File Id='vcdMergeEXE' Name='$(var.vcdMerge.TargetFileName)' DiskId='1' Source='$(var.vcdMerge.TargetPath)' KeyPath='yes'>
            </File>
          </Component>

          <Component Id='vcdMakerManual' Guid='CBBA9EBF-0FF3-4A3E-ABE5-04D7689C4456'>
            <File Id="ManualPdf" Name="Manual.pdf" Source="$(var.SolutionDir)..\..\sources\common\doc\manual.pdf" KeyPath='yes'>
              <Shortcut Id="vcdMakerManualLnk" Directory="ProgramMenuDir" Name="vcdMaker $(var.ProductVersionInfo) Manual" WorkingDirectory='INSTALLDIR' IconIndex="0" Advertise="yes" />
            </File>
          </Component>
          
          <Directory Id='SampleDir' Name='samples'>
            <Component Id='SampleFiles' Guid='DB87BE16-F437-4FB2-9A6A-07A0CDFB54EE'>
              <File Id="SampleTtx" Name="example.txt" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\example.txt" KeyPath='yes'></File>
              <File Id="SampleUsr" Name="example_user.txt" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\example_user.txt"></File>
              <File Id="SampleVcd" Name="example.vcd" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\example.vcd"></File>
              <File Id="System1Time1Txt" Name="system1_time1.txt" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\system1_time1.txt"></File>
              <File Id="System1Time1Usr" Name="system1_time1_user.txt" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\system1_time1_user.txt"></File>
              <File Id="System2Time1Txt" Name="system2_time1.txt" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\system2_time1.txt"></File>
              <File Id="System2Time2Txt" Name="system2_time2.txt" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\system2_time2.txt"></File>
              <File Id="MergeT1T2Vcd" Name="merge_t1_t1.vcd" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\merge_t1_t1.vcd"></File>
              <File Id="MergeT1T1Vcd" Name="merge_t1_t2.vcd" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\merge_t1_t2.vcd"></File>
              <File Id="user1Xml" Name="user1.xml" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\user1.xml"></File>
              <File Id="user2Xml" Name="user2.xml" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\user2.xml"></File>
              <File Id="vcdMakerXml" Name="vcdMaker.xml" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\vcdMaker.xml"></File>
              <File Id="vcdMakerDtd" Name="vcdMaker.dtd" Source="$(var.SolutionDir)..\..\sources\common\doc\examples\vcdMaker.dtd"></File>
            </Component>
          </Directory>
        
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="vcdMaker $(var.ProductVersionInfo)">
          <Component Id="ProgramMenuDir" Guid="8A677339-2E3E-483C-B102-224988E9FDA8">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='MainProgram' Title='vcdMaker $(var.ProductVersionInfo)' Description='The vcdMaker package.' Level='1'>
      <ComponentRef Id='vcdMakerExecutable' />
      <ComponentRef Id='vcdMergeExecutable' />
      <ComponentRef Id='vcdMakerManual' />
      <ComponentRef Id='SampleFiles' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir" />
    
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\resources\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\resources\vM-bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\resources\vM-dlgbmp.bmp" />
    
    <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)\resources\vcdMaker128.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

  </Product>
</Wix>
