<?xml version="1.0" encoding="UTF-8"?>
<?include ..\Installer\version.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <!-- Can be added to bundle to change the installation icon: IconSourceFile="..\Installer\resources\vcdMaker128.ico"-->
	<Bundle Name="vcdMaker $(var.ProductVersionInfo)" Version="3.0.1.0" Manufacturer="vcdMaker team" UpgradeCode="aa694554-90fe-4f5b-b432-1373894aa8da">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <Payload SourceFile="resources\bootstrapper_logo.png"/>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        ThemeFile="resources\HyperlinkTheme.xml"
        LocalizationFile="resources\HyperlinkTheme.wxl"
        SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <PackageGroupRef Id="vc_redist.x86"/>
      <MsiPackage Id="vcdMakerInstaller" SourceFile="$(var.Installer.TargetPath)" DisplayInternalUI='yes'/>
		</Chain>
	</Bundle>
  <Fragment>
    <!-- Check for the VC++ Redistributable(x86)-->
    <util:RegistrySearch Root="HKLM"
                         Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x86"
                         Value="Version"
                         Variable="vcRedistVersion"/>
    <util:RegistrySearch Root="HKLM"
                         Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x86"
                         Value="Installed"
                         Variable="vcRedistInstalled"/>
    <PackageGroup Id="vc_redist.x86">
      <ExePackage Id="vc_redist.x86"
                  DisplayName="Microsoft Visual C++ 2017 Redistributable (x86)"
                  DownloadUrl="https://aka.ms/vs/15/release/VC_redist.x86.exe"
                  Cache="yes"
                  Compressed="no"
                  PerMachine="yes"
                  Permanent="yes"
                  Protocol="burn"
                  Vital="yes"
                  SourceFile ="./vc_redist.x86.exe"
                  InstallCommand="/quiet /norestart"
                  DetectCondition="(vcRedistVersion >= &quot;v14.14.26405.00&quot;) AND (vcRedistInstalled = &quot;1&quot;)">
      </ExePackage>
      <!-- For the 64bit version:  -->
      <!-- DownloadUrl = https://aka.ms/vs/15/release/vc_redist.x64.exe -->
      <!-- Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" -->
      <!-- Version v14.14.26405.00 -->
    </PackageGroup>
  </Fragment>
</Wix>